
@{
    ViewBag.Title = "LuuCSDL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <p>Lưu Thành Công</p>
    @Html.ActionLink("Trang Chủ", "Main_Page", "Provider")
</main>
