@model DoAn_LTW.Models.NHANVIEN

@{
    ViewBag.Title = "Register NhanVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                </div>

                                @using (Html.BeginForm("Register_NhanVien", "Account", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="col-12">
                                        <label for="maNhanVien" class="form-label">Mã Nhân Viên</label>
                                        <input type="text" name="MANHANVIEN" class="form-control" id="maNhanVien" required>
                                    </div>

                                    <div class="col-12">
                                        <label for="chucVu" class="form-label">Chức Vụ</label>
                                        <input type="text" name="CHUCVU" class="form-control" id="chucVu" required>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
