@model List<DoAn_LTW.Models.DataPoint>


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Line Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <style>
        #lineChartContainer {
            margin-left: 350px;
            margin-top: 200px; /* Cách top 60px */
        }
    </style>
</head>
<body>
    <div id="lineChartContainer">
        <canvas id="lineChart" width="1200" height="500"></canvas>
    </div>

    <script>
    var ctx = document.getElementById('lineChart').getContext('2d');
    var data = @Html.Raw(Json.Encode(Model));

    var labels = data.map(function (item) {
        // Sử dụng Moment.js để định dạng ngày
        return moment(item.NGAY).format('DD-MM-YYYY');
    });

    var values = data.map(function (item) {
        return item.TONGTIEN;
    });

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Tổng Tiền',
                data: values,
                borderColor: 'blue',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false
        }
    });
    </script>

</body>
</html>
